* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  padding-right: 100px;
  overflow: hidden;
}
.d-none {
  display: none !important;
}
.right-nav {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: white;
  width: 200px;
  z-index: 999;
}
.right-nav ol,
.right-nav li {
  margin: 0px;
  padding: 0px;
}
.right-nav h1 {
  text-align: center;
  font-size: 18px;
}
.right-nav .btn-right {
  width: 90%;
  margin-left: 5%;
  display: block;
  border: 1px solid #808080;
  border-top: 0px;
  line-height: 30px;
  text-align: center;
  transition: background-color linear 0.2s;
  cursor: pointer;
  position: relative;
}
.right-nav .btn-right:hover {
  background-color: #ddd;
}
.right-nav .btn-right.color-select {
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #808080;
}
.right-nav .btn-right.color-select input {
  width: 50%;
  text-align: center;
}
.right-nav .btn-right:first-child {
  border-top: 1px solid #808080;
}
.right-nav .btn-right.btn-error {
  background-color: red !important;
  transition: background-color linear 0.1s;
}
.right-nav .btn-right.complete {
  text-decoration: line-through;
}
.right-nav .btn-right.complete:after {
  content: '\f00c';
  padding-left: 20px;
  font-family: FontAwesome;
  text-decoration: none;
  position: absolute;
  color: green;
  right: 10px;
}
.right-nav .btn-right.complete:hover {
  background-color: #fff;
}
.right-nav .btn-right.stack-settings {
  margin-top: 10px;
  border-top: 1px solid #808080;
}
.right-nav .btn-right.save-stack {
  background-color: #00529E;
  border: 0px;
  color: white;
  margin-bottom: 0px;
}
.right-nav .btn-right.save-stack:hover {
  opacity: 0.8;
}
#slider {
  position: absolute;
  right: 0px;
  top: 20px;
  width: 100px;
}
iframe {
  position: absolute;
  z-index: 99;
}
.box {
  border: 2px solid black;
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 27px;
  position: relative;
}
.box:hover {
  cursor: pointer;
  opacity: 0.8;
}
.ui-rotatable-handle {
  background: url("../img/rotate.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 25px;
  width: 25px;
  position: absolute;
}
#map {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
.box-wrapper {
  top: 200px;
  left: 200px;
  position: absolute;
}
.ui-rotatable-handle-sw {
  bottom: -27px;
  left: -27px;
}
.ui-rotatable-handle-nw {
  top: -27px;
  left: -27px;
}
.ui-rotatable-handle-se {
  bottom: -27px;
  right: -27px;
}
.ui-rotatable-handle-ne {
  top: -27px;
  right: -27px;
}
.row {
  margin-top: 10px;
}
.modal-xlg {
  width: 85% !important;
}
.container-grid .grid-row-header {
  margin-left: 25px;
}
.container-grid .grid-row-header .grid-header {
  max-width: 150px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  background-color: #eee;
  text-indent: -6px;
}
.container-grid .grid-row {
  text-align: top;
  width: 100%;
  position: relative;
  height: 35px;
  display: block;
  padding-left: 24px;
}
.container-grid .grid-row .grid-container {
  text-align: center;
  border: 1px solid #666666;
  border-bottom: 0px;
  border-left: 0px;
  max-width: 150px;
  height: 35px;
  line-height: 35px;
  display: inline-block;
  font-size: 12px;
  color: #000;
}
.container-grid .grid-row .grid-container:first-child {
  border-left: 1px solid #666666;
  margin-left: 20px;
}
.container-grid .grid-row .grid-col {
  border-bottom: 0px;
  border-left: 0px;
  max-width: 150px;
  line-height: 1;
  background-color: #eee;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  text-align: center;
}
.container-grid .grid-row:last-child .grid-container {
  border-bottom: 1px solid #666666;
}
.select-col {
  background-color: #00529E !important;
  color: white !important;
  transition: all linear 0.1s;
  cursor: pointer;
}
.selected-col {
  background-color: #0094a2 !important;
  color: white !important;
}
.view-container {
  margin-top: 25px;
  min-height: 420px;
  display: inline-block;
  vertical-align: top;
}
.view-container .col-num {
  text-align: center;
  margin-top: 5px;
}
.view-container .tier-col {
  width: 15px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.view-container .tier-col .tier-num {
  height: 90px;
  line-height: 90px;
}
.view-container .con-col {
  width: 90px;
  display: inline-block;
  margin-left: 10px;
}
.view-container .con-col .empty-container,
.view-container .con-col .full-container {
  width: 100%;
  height: 90px;
  background-color: #eee;
  border: 1px dashed #ccc;
  margin-top: 2px;
  margin-right: 15px;
}
.view-container .con-col .tier-num {
  width: 5px;
}
.view-container .con-col .empty-container {
  position: relative;
}
.view-container .con-col .empty-container:after {
  content: "available";
  color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.view-container .con-col .full-container {
  background-size: cover;
  background-position: center center;
  border: 0px;
  cursor: pointer;
  perspective: 1000px;
  position: relative;
  overflow: hidden;
}
.view-container .con-col .full-container.con1 {
  background-image: url('../img/container1.png');
}
.view-container .con-col .full-container.con2 {
  background-image: url('../img/container2.png');
}
.view-container .con-col .full-container.con3 {
  background-image: url('../img/container3.png');
}
.view-container .con-col .full-container.con4 {
  background-image: url('../img/container4.png');
}
.view-container .con-col .full-container .quick-info-container {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 12px;
  position: absolute;
  bottom: -35px;
  padding: 2px;
  transition: bottom .2s linear;
  text-align: center;
}
.view-container .con-col .full-container .quick-info-container.hazardous {
  background-color: rgba(255, 186, 7, 0.8);
  color: black;
}
.view-container .con-col .full-container .quick-info-container.hazardous:after {
  content: '\f071';
  position: absolute;
  bottom: 3px;
  left: 2px;
  font-family: FontAwesome;
}
.view-container .con-col .full-container:hover .quick-info-container {
  bottom: 0px;
}
.customer-name-short {
  display: block;
  text-align: center;
  width: 85px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.containersearch {
  text-align: center;
}
.container-numbers-search {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.container-numbers-search li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  padding: 10px 0px;
  border: 1px solid #ccc;
  border-top: 0px;
  position: relative;
}
.container-numbers-search li:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.container-numbers-search li i {
  position: absolute;
  right: 15px;
}
.reference-container {
  width: 100%;
  height: 70px;
}
.reference-container .reference-info {
  width: 150px;
  height: 50px;
  margin-right: 20px;
  border: 1px solid #ccc;
  background-color: #eee;
  float: left;
  text-align: center;
  font-size: 13px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.reference-container .reference-info span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  widows: 100%;
}
.reference-container .reference-info.stack-reference span {
  font-size: 16px;
}
.container-details {
  vertical-align: top;
  display: inline-block;
  height: 100%;
  margin-left: 20px;
  margin-top: 25px;
  width: 45%;
  float: right;
  text-align: left;
  margin-right: 40px;
}
.container-details .row {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}
.container-details .row.no-border-btm {
  border-bottom: 0px;
}
.container-details .bind-data {
  font-weight: bold;
  display: block;
  width: 100%;
}
.ui-resizable-s,
.ui-resizable-n {
  bottom: 0;
  height: 15px !important;
}
.ui-resizable-e,
.ui-resizable-w {
  width: 15px !important;
}
.ui-resizable-s {
  bottom: -10px !important;
}
.ui-resizable-e {
  right: -10px !important;
}
.ui-resizable-w {
  left: -10px !important;
}
.ui-resizable-n {
  top: -10px !important;
}
.ui-resizable-n:before {
  font-family: roboto;
  font-size: 14px;
  position: absolute;
  bottom: -15px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white !important;
  z-index: 99;
}
.container-search {
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-top: 35px;
}
.container-selected {
  position: relative;
  border: 2px solid #0094a2 !important;
}
.container-selected:after {
  content: "viewing";
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 5px 10px;
  background-color: #0094a2;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#map-wrapper {
  position: relative;
}
#map-wrapper #boundary-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border: 0;
  left: 0;
  right: 0;
}
.boundary-btn {
  background-color: #00529E;
  border: 0px;
  color: white;
  margin-bottom: 0px;
}
.boundary-btn:hover {
  opacity: 0.8;
}
li.boundary-btn.reset-boundary {
  margin-top: 25px;
}
.contains-container {
  transition: all linear 0.3s;
  background-color: rgba(255, 0, 0, 0.3) !important;
  border-color: rgba(255, 0, 0, 0.8) !important;
}
.fade-out-stack {
  transition: all linear 0.3s;
  background-color: rgba(0, 0, 0, 0.2) !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
}
.grid-contains-container {
  background-color: red !important;
}
.contains-container-view .quick-info-container {
  background-color: red !important;
}
